@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
  font-family: 'Roboto', sans-serif;
  a{
    text-decoration: none !important;
  }
}
//loader
#loading {
  margin: 0;
  padding: 0;
  //background-color: #376dac;
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    #loading-center-absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 200px;
      width: 200px;
      margin-top: -100px;
      margin-left: -100px;
      #object {
        width: 80px;
        height: 80px;
        //background-color: #FFF;
        background-color: #000;
        -webkit-animation: animate 1s infinite ease-in-out;
        animation: animate 1s infinite ease-in-out;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
      }
    }
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: perspective(160px);
    }
    50% {
      -webkit-transform: perspective(160px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
  }

  @keyframes animate {
    0% {
      transform: perspective(160px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
  }
}

.main {
  //кнопка наверх
  #top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: $nav_bg_hover;
    color: #fff;
    display: none;
    z-index: 2;
    padding: 15px;
    cursor: pointer;
    @include bradius(50%);
    @include transition(.3s);
    &:hover {
      background: #6792ff;
    }
  }

  //header
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    .navbar {
      height: $lh_nav;
      @include transition($nav_tran);
      .nav_left {
        float: left;
        .link_logo{
          display: inline-block;
          padding-top: .25em;
          padding-bottom: .25em;
          margin-right: 1rem;
          line-height: inherit;
          background: #fff;
          white-space: nowrap;
          img {
            position: absolute;
            margin-left: 0;
            padding: 5px 5px 5px 5px;
            z-index: 999;
            @include bradius(3px);
          }
        }
      }
      .nav_right {
        float: right;
        .ul_right {
          .li_right {
            float: left;
            line-height: $lh_nav;
            a {
              color: $nav_font;
              font-size: 13px;
              text-transform: uppercase;
              line-height: $lh_nav;
              display: block;
              padding: 0 10px;
              @include transition($nav_tran);
              &:hover {
                border-bottom: 5px solid $nav_bg_hover;
                color: $nav_bg_hover;
              }
            }
            .active {
              border-bottom: 5px solid $nav_bg_hover;
            }
          }
        }
      }
    }
    .nav_bottom {
      @include bsh(0 0 5px rgba(0, 0, 0, 0.19));
      background: #fff;
      height: 50px;
      .link_logo{
        display: inline-block;
        padding-top: 0 !important;
        padding-bottom: 1.25em !important;
        margin-right: 1rem;
        line-height: inherit;
        background: #fff;
        white-space: nowrap;
        img {
          //height: 40px;
          background: #fff;
          padding: 0 !important;
          @include scale(0.75);
          @include transition($nav_tran);
        }
      }

      a{
        color: #000 !important;
        line-height: 50px !important;
      }
    }
  }

  //section main
  #main {
    height: 750px;
    background: url(../img/bg_main.jpg) repeat-y;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    position: relative;
    padding-top: 12rem;
    padding-bottom: 5rem;
    width: 100%;
    margin: 0;
    .head_top{
      margin-bottom: 2rem;
      text-align: center;
      h1 {
        text-transform: uppercase;
        font-size: 2rem;
        color: #000;
      }
      .span_ht {
        display: block;
        padding: 10px 0;
        color: #000;
      }
    }
    .button_go {
      cursor: pointer;
      position: relative;
      height: 45px;
      margin: 0 auto;
      width: 45px;
      -webkit-animation: go_bott 2s infinite ease-in-out;
      animation: go_bott 2s infinite ease-in-out;

      @-webkit-keyframes go_bott {
        10% {
          @include translY(-5px);
        }
        100% {
          @include translY(5px);
        }
      }
      @keyframes go_boot {
        10% {
          @include translY(-5px);
        }

        100% {
          @include translY(5px);
        }
      }



      @-webkit-keyframes go_left {
        0% {
          @include rotate(45deg);
        }
        50% {
          @include rotate(-45deg);
          border-color: red;
        }
        100% {
          @include rotate(45deg);
        }
      }
      @keyframes go_left {
        0% {

        }
        50% {
          border-color: #fff;
        }
        100% {
          border-color: #000;
        }
      }

      @-webkit-keyframes go_right {
        0% {
        }
        60% {
          border-color: #fff;
        }
        100% {
          border-color: #000;
        }
      }
      @keyframes go_right {
        0% {

        }
        50% {

        }
        100% {

        }
      }

      &:before {
        position: absolute;
        content: '';
        height: 45px;
        margin: 0 auto;
        width: 45px;
        border-left: 1px solid;
        border-left-color: #000;
        @include rotate(-45deg);
        -webkit-animation: go_left 2.5s infinite ease-in-out;
        animation: go_left 2.5s infinite ease-in-out;
      }
      &:after {
        position: absolute;
        content: '';
        height: 45px;
        margin: 0 auto;
        width: 45px;
        border-right: 1px solid;
        border-right-color: #000;
        @include rotate(45deg);
        -webkit-animation: go_right 2.5s infinite ease-in-out;
        animation: go_right 2.5s infinite ease-in-out;
      }
    }
  }

  //section products
  #products {
    min-height: 750px;
    padding-top: 4rem;
    padding-bottom: 5rem;
    background: #fff;
    position: relative;
    .before_content{
      padding-bottom: 2rem;
      .pr_header{
        padding: 2rem 0;
        text-align: center;
        h2 {
          font-size: 2.0rem;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      //slider
      .slider_area {
        li {
          height: auto;
          .info {
            height: auto;
            position: relative;
            text-align: center;
            .inf_header {
              h3 {
                text-transform: uppercase;
                display: inline-block;
                padding: 5px;
                border-bottom: 1px solid;
                color: $clr_def;
              }
            }
            .inf_body {
              margin-top: 20px;
              .sp_adv {
                padding: 5px;
              }
            }
          }
        }
        .bx-pager-link{
          background: #ccc;
        }
        .active{
          background: $clr_def;
        }
      }
    }
    .product_content {
      padding-top: 4rem;
      padding-bottom: 5rem;
      background: #f3f3f3;
      height: auto;
      overflow: hidden;
      .product_wrapp{
        min-height: 350px;
        background: #ffffff;
        margin-bottom: 15px;
        position: relative;
        &:hover .hover_wrapp {
          opacity: 1;
        }
        &:hover .look {
          opacity: 1;
        }
        &:hover .img_preview {
          @include scale(.85);
        }
        .img_top {
          padding-top: 30px;
          .img_preview {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            display: block;
            @include transition(.2s);
          }
        }
        .desc {
          position: absolute;
          bottom: 10px;
          right: 0;
          left: 0;
          padding: 10px;
          .title{
            text-align: center;
            padding: 5px;
            color: $nav_bg_hover;
          }
          .price {
            text-align: center;
            padding: 5px;
          }
        }
        .hover_wrapp {
          opacity: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          background: rgba(0, 0, 0, 0.53);
          text-align: center;
          @include transition(.1s);
          &:hover .look{
            opacity: 1;
            top: 42%;
          }
          &:hover .font_wr{
            opacity: 1;
            bottom: 42%;
          }
          .look{
            opacity: 0;
            color: yellow;
            //padding-top: 30%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            //padding-bottom: 20%;
            text-align: center;
            display: block;
            @include transition(.2s);
          }
          .font_wr {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            color: #fff;
            //padding-bottom: 20%;
            text-align: center;
            display: block;
            @include transition(.2s);
            .fa{

            }
          }
        }

      }

      .b_bg{
        opacity: 0;
        position: fixed;
        visibility: hidden;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: rgba(174, 174, 174, 0.47);
        @include transition(.2s);
        @include bsh( 0px 2px 30px 0px rgba(50, 50, 50, 0.55));
        .big_desc{
          opacity: 0;
          position: fixed;
          overflow: hidden;
          top: 10%;
          right: 0;
          left: 0;
          margin: auto;
          z-index: 999;
          width: 95%;
          height: 450px;
          background: #fff;
          @include transition(.3s);
          @include translY(-100%);
          @include bsh( 0px 2px 30px 0px rgba(50, 50, 50, 0.55));
          @include smart_vert_hor{
            width: 95%;
          }
          .fa_times {
            color: #000;
            position: absolute;
            top: 13px;
            right: 10px;
            cursor: pointer;
            z-index: 99999;
          }
          .bg_call {
            color: #000;
            background: #03A9F4;
            position: absolute;
            bottom: 13px;
            padding: 10px;
            right: 10px;
            cursor: pointer;
            z-index: 99999;
          }
          .desc_head {
            .desc_title {
              height: 40px;
              position: relative;
              h3{
                line-height: 40px;
                padding-left: 10px;
              }
            }
          }
          .content_desc{
            @include transition(.3s);
            //осн характ-ки
            .main_desc {
              .main_desc_h{
                //background: #67aaff;
                padding: 5px;
              }
              .main_content{
                 .item_content{
                   padding: 5px;
                   position: relative;
                   overflow: hidden;
                   .sp_l{
                     float: left;
                   }
                   .sp_r{
                     position: absolute;
                     right: 15px;
                     top: 6px;
                   }
                }
              }
            }

            //размеры
            .main_sizes {
              .sizes_h{
                //background: #67aaff;
                padding: 5px;
              }
              .sizes_content{
                .item_size{
                  padding: 5px;
                  position: relative;
                  overflow: hidden;
                  .p_l{
                    float: left;
                  }
                  .pr{
                    position: absolute;
                    right: 15px;
                    top: 6px;
                  }
                }
              }
            }

            //транспортировка
            .transporting{
              .trans_h{
                //background: #67aaff;
                padding: 5px;
              }
              .trans_content{
                .item_trans{
                  padding: 5px;
                  position: relative;
                  overflow: hidden;
                  .p_l{
                    float: left;
                  }
                  .p_r{
                    position: absolute;
                    right: 15px;
                    top: 6px;
                  }
                }
              }
            }
          }
          .content_hide{
            @include translX(-100%);
          }

          .phone{
            @include translX(100%);
            background: #b9cbff;
            height: 450px;
            position: absolute;
            display: inline-block;
            left: 100%;
            width: 100%;
            @include transition(.3s);
            .test{
              height: 250px;
              width: 250px;
              margin: 0 auto;
              transform: translateY(50px);
              background: #ffffff;
            }
          }
          .phone_show{
            left: 0;
            @include translX(0);
          }


          .desc_tabs {
            padding: 10px;
            .tabs {
              .tabs-header{
                .tab-h {
                  display: inline;
                  height: 30px;
                  line-height: 30px;
                  text-align: center;
                }
                .active{
                  color: red;
                }
              }
              .tabs-body{
                .tab-b{
                  display: none;
                }
              }
            }
          }
        }
        .down {
          display: block;
          opacity: 1;
          @include translY(0);

        }
      }

      .down {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  //delivery
  #delivery {
    min-height: 650px;
    background: #8df29c;
  }

  //actions
  #actions {
    min-height: 650px;
    background: #96ccf2;
  }

  //contacts

  #contacts {
    height: auto;
    overflow: hidden;
    padding: 2rem 0;
    background: #fff;
  }
}


.on {
  @include transition(.3s);
  //position: relative;
  &::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9;
  }
}









